<p id="notice"><%= notice %></p>

<h3>
  <%= @collection.name %>
</h3>

<p>
  <strong>Public:</strong>
  <%= @collection.public %>
</p>

<p>
  <strong>User:</strong>
  <%= @collection.user.username %>
</p>
<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Destroy', @collection, method: :delete, data: { confirm: 'Are you sure?' } %> <br />

<p>
  <h3>Items:</h3>
</p>
<p>
<% @collection.items.each do |item| %>
  <strong><%= item.name %></strong> <br />
  <p>Status: <%= item.status.name %> </p><br />
  <% if !(item.notes.nil?) %>
    <p>Notes: <%= item.notes %></p></br >
  <% end %>
<% end %>
</p>
<strong>New item</strong>
<%= render 'items/form', item: @item %>
<%= link_to 'Back', collections_path %>
